<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home || To-Do</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/variaveis.css" />
    <link rel="stylesheet" href="../css/loading.css">
    <link rel="stylesheet" href="../css/home.css" />
    <link rel="shortcut icon" href="../img/favicon.ico">
  </head>
  <body>
    <div class="loading" id="loading">
      <span class="loadingTexto ping"><p class="txtLoading tracking-out-expand">Loading</p></span>
    </div>
    <header class="cabecalho">
      <h1 class="tituloPrincipal">Bem vindo a To-Do List</h1>
      <button type="button" class="btnLogout" id="btnSair">Sair</button>
    </header>

    <section class="secaoCriar">
      <input type="text" class="inputTarefa" id="inputTarefa" />
      <button class="btnCriar" type="button" id="btnCriar">Create</button>
    </section>
    <section class="secaoTarefas">
      <ul class="listaTarefas" id="listaTarefas"></ul>
    </section>

    <script src="../js/home.js"></script>
  </body>
</html>
